/* GENERAL */
* {
  font-family: 'Montserrat', sans-serif;
}
/* MEDIAQUERY */
@media screen and (min-width: 768px) {
  .navbar-default .navbar-header .navbar-brand {
    font-size:30px;
  }
  .backgreen .container .row h1 {
    font-size: 60px;
  }
  .backgreen .container .row h2 {
    font-size: 25px;
  }
  .mainwhite .row h1 {
    font-size: 50px;
  }
  .container .row .Textcenter h2 {
    font-size: 50px;
  }
}
/* HEADER */
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar-toggle {
  margin-top: 35px;
}
.navbar-default {
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.navbar-default .navbar-brand {
  color: white;
  height: 100px;
  font-size: 20px;
  font-weight: 600;
  padding-top: 35px;
  padding-bottom: 35px;
  line-height: 35px;
  transition: linear 0.2s;
}
.navbar-default .navbar-brand:hover {
  color: #1abc9c;
}
.navbar-right {
  margin-top: 25px;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: 600;
  font-size: 16px;
  transition: linear 1s;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #1abc9c;
}
/* MAINGREEN */
.backgreen {
  background-color: #1abc9c;
  background-size: cover;
  height: 660px;
}
.backgreen img {
  max-height: 270px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.backgreen h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-bottom: 25px;
}
.backgreen i {
  font-size: 30px;
  color: white;
}
.backgreen h2 {
  color: white;
  font-size: 18px;

}
/* MAINWHITE */
.mainwhite{
  padding-top: 50px;
  padding-bottom: 50px;
}
.mainwhite h1 {
  color: #2c3e50;
  font-weight: 800;
  font-size: 38px;
  padding-bottom: 25px;
}
.mainwhite i {
  font-size: 30px;
  color: #2c3e50;
  padding-bottom: 45px;
}
.scatola {
  width: 330px;
  height: 240px;
  border-radius: 10px;
  margin-bottom: 50px;
  max-width: 100%;
}
.rossa {
  background-color: #ba4c63;
}
.rossa img {
  max-width: 100%;
  border-radius: 10px;
}
.celeste {
  background-color: #1fa4b6;
}
.celeste img {
  max-width: 100%;
  border-radius: 10px;
}
.nera {
  background-color: #130f0f;
}
.nera img {
  max-width: 100%;
  border-radius: 10px;
}
.blu {
  background-color: #1d83c1;
}
.blu img {
  max-width: 100%;
  border-radius: 10px;
}
.violetto {
  background-color: #1037b5;
}
.violetto img {
  max-width: 100%;
  border-radius: 10px;
}
.sabbia {
  background-color: #ccb2a3;
}
.sabbia img {
  max-width: 100%;
  border-radius: 10px;
}
/* MINIGREEN */
.minigreen {
  background-color: #1abc9c;
}
.minigreen h2 {
  color: white;
  font-size: 50px;
  font-weight: 800;
  padding-bottom: 25px;
  padding-top: 60px;
}
.minigreen i {
  font-size: 30px;
  color: white;
  padding-bottom: 45px;
}
.minigreen p {
  color: white;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
}
.minigreen .btn {
  margin-top: 40px;
}
.minigreen .btn-group-lg > .btn, .btn-lg {
  padding-right: 15px;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.minigreen .btn i {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0;
  color: white;
  font-size: 18px;
  transition: linear 0.2s;
}
.btn-default {
  color: white;
  background-color: #1abc9c;
  border-color: white;
  transition: linear 0.2s;
}
.btn-default:hover {
  color: black;
  border-color: transparent;
}
.btn-default:hover i {
  color: black;
}

/* SECONDWHITE */
.container .row h2 {
  color: #2c3e50;
  font-weight: 800;
  font-size: 34px;
  padding-bottom: 25px;
  padding-top: 60px;
}
.container .row i {
  font-size: 30px;
  color: #2c3e50;
  padding-bottom: 45px;
}
form .form-group label {
  font-size: 20px;
  margin-bottom: 20px;
  color: #6c757d;
  font-weight: 600;
}
form .form-group input {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-radius: 0px;
  box-shadow: none;
}
form .form-group .form-control {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  box-shadow: none;

}
/* FOOTER */
.backdark {
  background-color: #2c3e50;
  height: 303px;
  padding-top: 30px;
  padding-bottom: 30px;

}

/* UTILITIES */
.Textcenter {
  text-align: center;
}
.textleft {
  text-align: left;
}
