/* HEADER */
.backblu {
  background-color: #2c3e50;
  background-size: cover;
}
/* MAINGREEN */
.backgreen {
  background-color: #1abc9c;
  background-size: cover;
  height: 660px;
}
/* MAINWHITE */
.mainwhite{
  padding-top: 50px;
  padding-bottom: 50px;
}
.scatola {
  width: 330px;
  height: 240px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.rossa {
  background-color: #ba4c63;
}
.celeste {
  background-color: #1fa4b6;
}
.nera {
  background-color: #130f0f;
}
.blu {
  background-color: #1d83c1;
}
.violetto {
  background-color: #1037b5;
}
.sabbia {
  background-color: #ccb2a3;
}
/* MINIGREEN */
.minigreen {
  background-color: #1abc9c;
  height: 600px;
}
/* FOOTER */
.backdark {
  background-color: #2c3e50;
  height: 303px;
  padding-top: 30px;
  padding-bottom: 30px;

}

/* UTILITIES */
.Textcenter {
  text-align: center;
}
.textleft {
  text-align: left;
}
/* MEDIAQUERY */
@media screen and (max-width: 768px) {
  .backblu .container .row .col-xs-12 {
    text-align: center;
  }
}
